select{
    border: 1px solid #00000059;
    padding: .1em;
    width: 40%;
    border-radius: .3em;
}

.state{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: .5em;
}

label{
    font-size: 1.3em;
    color: #00000059;
}